.form-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.PhotoUploadModal__upload {
    text-align: center;
}

.PhotoUploadModal__title {
    margin-bottom: 10px;
    padding: 5px
}
.PhotoUploadModal__description {
    margin-bottom: 10px;
    padding: 5px
}
.PhotoUploadModal__photo-upload {
    margin-bottom: 10px;
    padding: 5px
}
.PhotoUploadModal__btn {
    margin-bottom: 10px;
    padding: 5px
}

.PhotoUploadModal__tags__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 300px;
}

.photo__component__tag {
    display: flex;
    gap: 5px;
}

.close {
    color: red;
    cursor: pointer;
    background-color: transparent;
    border: none;
}