.explore-container {
  display: flex;
  justify-content: center;
    background: #f1f1f1;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  gap: 5px;
  width: 80%;
  margin-top: 30px;
}

.single-photo-container {
  height: 100%;
  overflow: hidden;
}

.single-photo-container:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

/* photo hover display photo info */
.photo-collection {
  position: relative;
  color: transparent;
}
.photo-info{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.photo-collection:hover{
   color: rgba(255, 255, 255, 0.7);
   font-size: 16px;
}
.photo-collection:hover > .photo-title{
  display: inline-block !important;
}
.photo-collection:hover::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgb(0,0,0) 0%, transparent 30%);
  transition: all .2s ease-out;
}
.photo-title {
    position: absolute;
    display: none;
    bottom: 10px;
    left: 5%;
}
.user-photo-title {
  font-weight: bold;
  margin-bottom: 0;
}
.photo-user{
  margin-top: 0;
  font-size: 12px;
}

.album, .new {
  background-color: #f4f5f8;

}

.inputalbum{
  width: 29%;
}