.comments__container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.comments {
    background-color: #f3f5f6;
}
.comments__button {
    background-color: #006dac;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;

    padding: 5px 10px;
    border: none;
}

.comments__comment__owner {
    color: #006dac;
    font-weight: 700;
}

.comments__button:hover, .comments__button--plane:hover {
    cursor: pointer;
    border-color: #006dac;
    background-color: darkblue;
}
.fa-paper-plane, .fa-trash-restore-alt {
    color: white;
    font-weight: bold;
    font-size: 12.5px;

}

.comments__button--plane {
    background-color: #006dac;
    font-size: 10px;
    
}

.comments__form {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 20px;

    align-items: flex-end;
}

.comments__textarea {
    resize: none;
    width: 450px;

    padding: 5px 0 0 5px;
}

.comments__information {
    display: flex;
    gap: 10px;
}

.comments__information__user__photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.comments__information__name__and__comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}