#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  /* height: 100%; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  padding: 20px 20px;
  display: flex;
  align-items:flex-start;

}
