@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.profile-container{
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-image: url('https://universejf.s3.us-east-2.amazonaws.com/20180121_Taipei%2C_Taiwan_Skyline_from_Xiangshan.jpg');
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: 'Viga', sans-serif;
}

.profile-container::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 40%;
  z-index: 1;
}
.user-info-container{
  margin-left: 10%;
  margin-right: 30px;
  padding-bottom: 20px;
  z-index: 100;
}
.Profile-img{
  width: 150px;
  height: 150px;
  border-radius: 180%;
  object-fit: cover;
}
.user-info-profile{
display: flex;
flex-direction: column;
justify-content: center;
color: rgba(255,255,255, .7);
width: 100%;
height: 150px;
z-index: 100;
}
.full-name{
  font-size: 30px;
  margin: 0;
}
.extra-info{
 position: relative;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 width: 100%;
}
.extra-info > p,
.extra-info > a {
  margin-right: 20px;
  color: rgba(255,255,255, .7);
}
.extra-info> a{
  text-decoration: none;
}
.extra-info> a:hover{
  color: rgba(255,255,255, 1);
  text-decoration: underline;
}
.count-photo-user{
position: absolute;
right: 10%;
margin-left: 0;
}
.navBars {
    border-top: 2px solid rgba(255, 255, 255, .9);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: #fff;
}
.tag {
  outline: none;
    color: rgba(0,0,0, .7);
    height: 100%;
    border: none;
    background: none;
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}
.tag:hover,
.active{
  box-shadow: inset 0 -3px 0 #3e70bb;
}