.photo__component__img {
    padding: 50px;
    background-color: #212124;
    display: flex;
    justify-content: center;

    position: relative;
}
.single-photo {
    width: 35%;
    height: 35%;
}

.photo__component__background {
    background-color: #f3f5f6;
    padding: 25px 0 12px 25px;

}

.photo__component__information {
    display: flex;
    justify-content: space-between;
    margin: 0 24px 12px 0;
}

.photo__component__likes__and__tags {
    flex-basis: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.photo__component__photo__information {
    display: flex;
    align-items: center;
    gap: 10px;
}

.photo__component__photo__owner__photo__title {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 14px;
}

.photo__component__photo__owner__name:link, .photo__component__photo__owner__name:visited {
    color: inherit;
    font-weight: 700;
}

.photo__component__photo__owner__img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}



.heart-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icon:hover {
    background-color: transparent;
}

/* color: #006dac; */